[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://android.googlesource.com/platform/external/zlib
[submodule "third_party/stblib"]
	path = third_party/stblib
	url = https://github.com/nothings/stb
[submodule "third_party/jsoncpp"]
	path = third_party/jsoncpp
	url = https://android.googlesource.com/platform/external/jsoncpp
[submodule "third_party/lodepng"]
	path = third_party/lodepng
	url = https://github.com/lvandeve/lodepng
[submodule "third_party/freetype2"]
	path = third_party/freetype2
	url = https://skia.googlesource.com/third_party/freetype2
	branch = VER-2-6-1
[submodule "third_party/tracing_framework"]
	path = third_party/tracing_framework
	url = https://github.com/google/tracing-framework
	branch = gh-pages
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
[submodule "third_party/icu"]
	path = third_party/icu
	url = https://android.googlesource.com/platform/external/icu
[submodule "third_party/harfbuzz"]
	path = third_party/harfbuzz
	url = https://github.com/behdad/harfbuzz
	branch = 0.9.33
[submodule "third_party/freeglut"]
	path = third_party/freeglut
	url = https://github.com/dcnieho/FreeGLUT
	branch = FG_2_8_1_RC1
[submodule "third_party/webfonts"]
	path = third_party/webfonts
	url = https://github.com/google/fonts
[submodule "third_party/omaha"]
	path = third_party/omaha
	url = https://github.com/google/omaha
[submodule "third_party/noto_fonts"]
	path = third_party/noto_fonts
	url = https://android.googlesource.com/platform/external/noto-fonts
[submodule "third_party/away3d_examples_broomstick"]
	path = third_party/away3d_examples_broomstick
	url = https://github.com/away3d/away3d-examples-broomstick
[submodule "third_party/image_compression"]
	path = third_party/image_compression
	url = https://github.com/google/image-compression
[submodule "third_party/noto_cjk"]
	path = third_party/noto_cjk
	url = https://github.com/googlei18n/noto-cjk
[submodule "third_party/gyp"]
	path = third_party/gyp
	url = https://chromium.googlesource.com/external/gyp.git
