html, body {
  position: relative;
  width: 98%;
}

.button, .button_toggled {
  display: inline-block;
  margin-left: 1em;
  border: 1px solid #575852;
  border-radius: 5px;
  cursor: pointer;
  min-width: 14em;
  white-space: nowrap;
  padding: 5px 7px 5px 7px;
  background-color: #eee;
  color: #000;
}

.button_toggled {
  background-color: #ddccbb;
}

.button:active, .button_toggled:active {
  color: #f00;
}

.button_box {
  text-align: center;
  border: 1px solid #888888;
  padding: 5px;
  background-color: #eeeedd;
}

.format_box {
  display: inline-block;
  text-align: center;
}

.nodes {
  text-align: left;
  width: 100%;
  margin: 1em auto;
  padding: 4px;
}

/* Override default tree indentation */
.nodes input + label + ul {
  margin: 0 0 0 44px;
}

.nodes_header {
  text-align: center;
  color: blue;
  font-weight: bold;
}

.nodes_field_table {
  background-color: #f3f3e8;
  border: solid 1px #c5c5c5;
}

.nodes_field_table td {
  min-width: 120px;
  vertical-align: top;
}

.nodes_field_table td.name {
  color: #aa2222;
}

.nodes_field_table td.value {
  color: #227722;
}

.nodes_field_value_table {
  display:inline;
  text-align: center;
}

.nodes_field_value_table td {
  min-width: 50px;
}

.table_label {
  color: #332266;
}

#platform {
  font-size: 80%;
}
