body {
  position: relative;
  width: 98%;
  height: 100%;
}

/* Override jQuery vertical tabs */
.ui-tabs-vertical .ui-tabs-nav {
  font-size: 70%;
  padding: .2em .1em .2em .2em;
  float: left;
}
.ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
  border-bottom-width: 1px !important;
  border-right-width: 0 !important;
  margin: 0 -1px .2em 0;
}
.ui-tabs-vertical .ui-tabs-nav li a {
  display:block;
}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  padding-right: .1em;
  border-right-width: 1px;
}
.ui-tabs-vertical .ui-tabs-panel {
  width: 80%;
  font-size: 80%;
  position: relative;
  margin-left: 12em;
}

.display_object {
  float: right;
  height: 100%;
  color: #000000;
  background-color: #eee;
  padding: 2px 7px 2px 7px;
  border: 1px solid #575852;
  border-radius: 5px;
  cursor: pointer;
}

.gl_link {
  height: 100%;
  margin-left: 1em;
  text-decoration: underline;
  cursor: pointer;
}

.resource_tab select {
  font-size: 80%;
  margin-top: 1em;
}

.resource_data {
  font-size: 80%;
}

#platform {
  font-size: 80%;
}
